[Desktop Entry]
Version=1.0
Name=Skyrcoin 
Comment=Skyrcoin P2P Cryptocurrency
Comment[fr]=Skyrcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Skyrcoin, eşten eşe kriptografik sanal para birimi
Exec=skyrcoin-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/skyrcoin;
Categories=Office;Finance;
StartupWMClass=skyrcoin-qt
